<!DOCTYPE html>
 <html>
   <head>
     <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
   </head>
   <body>
     <h1>You are now following "<%= @post.title %>". If you do not want to follow this post anymore, unfollow <%= link_to "here", topic_post_url(@post.topic, @post) %>. </h1>
   </body>
 </html>